@model IEnumerable<Applikacio2.Dokumentum>
@*@model IEnumerable<Applikacio2.Models.ListedEvent>*@
@{
    ViewData["Title"] = "Children";
}

<h1>Children of Document</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Extension)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MainId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Source)
            </th>

        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <a asp-action="Events" asp-route-id="@item.Id">
                        @Html.DisplayFor(modelItem => item.Title)
                    </a>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Extension)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MainId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Source)
                </td>

            </tr>
        }
    </tbody>
</table>