@model IEnumerable<Applikacio2.Dokumentum>

    @{
        ViewData["Title"] = "Index";
    }

    <h1>Index</h1>

    <form asp-controller="Dokumentums" asp-action="Index" method="get">
        <p>
            Title: <input type="text" name="SearchString" />
            <input type="submit" value="Filter" />
        </p>
    </form>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Title)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Extension)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.MainId)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Source)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        <a asp-action="Children" asp-route-id="@item.Id">
                            @Html.DisplayFor(modelItem => item.Title)
                        </a>
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Extension)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.MainId)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Source)
                    </td>
                    
                </tr>
            }
        </tbody>
    </table>
